package layouts

import (
	// "flexsupport/views/components/calendar"
	// "flexsupport/views/components/collapsible"
	// "flexsupport/views/components/copybutton"
	// "flexsupport/views/components/datepicker"
	// "flexsupport/views/components/dialog"
	// "flexsupport/views/components/dropdown"
	// "flexsupport/views/components/input"
	// "flexsupport/views/components/label"
	// "flexsupport/views/components/popover"
	// "flexsupport/views/components/selectbox"
	// "flexsupport/views/components/textarea"
	// "flexsupport/views/components/toast"
	"flexsupport/internal/middleware"
	"flexsupport/views/modules"
)

templ BaseLayout(contents templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/assets/css/output.min.css" nonce={ middleware.GetTwNonce(ctx) }/>
			<script nonce={ middleware.GetHtmxNonce(ctx) } src="/assets/js/htmx.min.js"></script>
			<script nonce={ middleware.GetResponseTargetsNonce(ctx) } src="/assets/js/response-targets.js"></script>
			<script nonce={ middleware.GetAlpineNonce(ctx) } defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<title>Flex Support</title>
		</head>
		<body class="h-full" hx-ext="response-targets">
			@modules.Navbar("dickhead")
			<main class="container">
				@contents
			</main>
		</body>
	</html>
}
